<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Musical Hendrix</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" [routerLink]="['home']" aria-current="page">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['productos']">Productos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['donde-estamos']">Donde estamos</a>
                </li>
            </ul>
        </div>
    </div>
</nav>